@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    margin: 0;
  }
  &__gif {
    margin: 1em;
    animation: float 3s ease-in-out infinite;
    box-shadow: 4px 8px 4px black;
  }
}
