@use '../../Colors/Colors.scss';
@use '../../Main.scss';

.arcade-page {
  display: flex;
  text-align: center;
  flex-direction: column;
  &__title {
    margin-top: 2em;
    font-size: 2em;
    @include Main.text-shadow;
  }
}
.arcade-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &__navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    &--article {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
