@use '../../Colors/Colors.scss';
@use '../../Main.scss';

.collapse {
  position: relative;
  width: 100%;
  margin: 5em auto;
  border: 2px solid Colors.$border-box;
  border-radius: 1em;
  overflow: hidden;
  background: Colors.$background-box;
  @include Main.text-box-shadow;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background: Colors.$background-box;
    cursor: pointer;
    &--title {
      font-size: 1.5em;
      font-weight: bold;
      color: Colors.$black-grey;
    }
    &--btn {
      width: 4em;
      height: 6em;
      top: 0.5em;
      position: absolute;
      right: 1em;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      &.open {
        transform: rotate(90deg);
      }
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    background: #fff;
    padding: 0 1em;
    &.open {
      max-height: 500px;
      opacity: 1;
      padding: 1em;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        font-size: 1em;
        padding: 8px 0;
        color: Colors.$grey;
        border-bottom: 1px solid Colors.$border-box;
        a {
          color: Colors.$grey;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
