@use '../../Colors/Colors.scss';
@use '../../Main.scss';
@use '../../Fonts/Fonts.scss';

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
  @include Main.responsive-phone {
  }
  &__title {
    font-size: 6em;
    line-height: 0em;
    @include Main.responsive-laptop {
      font-size: 4.5em;
    }
    @include Main.responsive-phone {
      font-size: 2em;
    }
  }
  &__subtitle {
    font-size: 2.5em;
    line-height: 0em;
    font-weight: 300;
    @include Main.responsive-laptop {
      font-size: 2.5em;
    }
    @include Main.responsive-phone {
      font-size: 1em;
    }
  }
  &__bulle {
    padding: 1em;
    background: Colors.$background-box;
    @include Main.border;
    @include Main.text-box-shadow;
    width: 100%;
    border-radius: 1em;
    margin: 4em;
    overflow: scroll;
    @include Main.responsive-phone {
      height: 440px;
    }
    &--p {
      color: Colors.$black-grey;
      font-size: 1.5em;
      font-family: Fonts.$font-2;
      font-weight: 500;
      @include Main.responsive-phone {
        font-size: 1em;
      }
    }
  }
  &__btn {
    margin: 2em;
    text-decoration: none;
    color: black;
    @include Main.responsive-phone {
      margin: 0;
    }
    &--start {
      padding: 1em;
      width: 10em;
      background: Colors.$closed-green;
      @include Main.border;
      border-radius: 3em;
      font-size: 1.5em;
      animation: zoomEffect 1.5s infinite ease-in-out;
      &:hover {
        @include Main.lights-open;
      }
      @include Main.responsive-phone {
        font-size: 1em;
      }
    }
  }
  &__footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    &--git {
      @include Main.logo;
    }
    &--x {
      @include Main.logo;
    }
    &--linkedin {
      @include Main.logo;
    }
  }
}
