@use '../../Colors/Colors.scss';

@mixin lights-open {
  background: Colors.$toxic-green;
  box-shadow: 0px 4px 15px 10px rgba(Colors.$white, 0.2);
}
@mixin logo {
  margin: 0.5em;
  cursor: pointer;
}
@mixin border {
  border: solid 2px Colors.$black;
}
@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.start-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  &__title {
    font-size: 6em;
    line-height: 0.5em;
  }
  &__subtitle {
    font-size: 2.5em;
    line-height: 0em;
    font-weight: 300;
  }
  &__bulle {
    padding: 1em;
    background: Colors.$white;
    @include border;
    width: 50em;
    border-radius: 1em;
    margin: 4em;
    &--p {
      color: Colors.$black;
      font-size: 1.5em;
    }
  }
  &__btn {
    margin: 2em;
    text-decoration: none;
    color: black;
    &--start {
      padding: 1em;
      width: 10em;
      background: Colors.$closed-green;
      @include border;
      border-radius: 3em;
      font-size: 1.5em;
      animation: zoomEffect 1.5s infinite ease-in-out;
      &:hover {
        @include lights-open;
      }
    }
  }
  &__footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    &--git {
      height: 4em;
      @include logo;
    }
    &--x {
      @include logo;
    }
    &--linkedin {
      @include logo;
    }
  }
}
