@use '../../Colors/Colors.scss';
@use '../../Main.scss';

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.start-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  &__title {
    font-size: 6em;
    line-height: 0em;
  }
  &__subtitle {
    font-size: 2.5em;
    line-height: 0em;
    font-weight: 300;
  }
  &__bulle {
    @include Main.bulle;
  }
  &__btn {
    margin: 2em;
    text-decoration: none;
    color: black;
    &--start {
      padding: 1em;
      width: 10em;
      background: Colors.$closed-green;
      @include Main.border;
      border-radius: 3em;
      font-size: 1.5em;
      animation: zoomEffect 1.5s infinite ease-in-out;
      &:hover {
        @include Main.lights-open;
      }
    }
  }
  &__footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    &--git {
      height: 4em;
      @include Main.logo;
    }
    &--x {
      @include Main.logo;
    }
    &--linkedin {
      @include Main.logo;
    }
  }
}
