@mixin logo {
  margin: 0.5em;
  cursor: pointer;
  height: 2em;
}

.logo {
  display: flex;
  justify-content: flex-end;
  margin-left: 13em;
  &__link--git {
    @include logo;
  }
  &__link--x {
    @include logo;
    margin-top: 0.6em;
    filter: brightness(0);
  }
  &__link--linkedin {
    @include logo;
    filter: brightness(0);
  }
}
