$violet: #5f437d;
$gradient: #2f0743;
$toxic-green: #40ff00;
$carrousel-green: #26b326;
$closed-green: #037f03;
$white: #ffffff;
$background-box: #f7f7f7;
$border-box: #ccc;
$black: #000000;
$black-grey: #333;
$grey: #555;
